{% extends "students/base.html" %}

{% block body %}
  <h3 class="text-center m-4">Добавить студента</h3>
  {% if success %}
    <div class="alert alert-light" role="alert">
      Новый студент успешно добавлен.
      <a href="{% url 'index' %}" class="alert-link">Вернуться на главную страницу.</a>
    </div>
  {% else %}
    <div class="row justify-content-center">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">
                <i class="fa-regular fa-address-card fa-lg"></i>
            </div>
            <div class="card-body">
                <form action="{% url 'add' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Добавить</button>
                    <a href="{% url 'index' %}" class="btn btn-secondary">Отменить</a>
                </form>
            </div>
        </div>
    </div>
  {% endif %}
{% endblock %}